@charset "UTF-8";

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
body {
  font-size: 100%;
  font-family: cursive, "Source Sans Pro", sans-serif;
  color: rgba(2, 23, 37, 0.7);
}
body.overflow-hidden {
  /* when primary navigation is visible, the content in the background won't scroll */
  overflow: hidden;
}

a,a:link,a:visited{
text-decoration:none;
}
a:hover{
text-decoration:underline;
cursor: pointer;
}

ul {
	list-style: none;
}

i:before {
	font-size: 1.3rem;
	vertical-align: middle;
}
.fl {
	float: left;
}
.mlrem {
	margin-left: 1rem;
}

.hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 0.75rem;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(221, 225, 236);
  outline: 1px solid rgb(176, 177, 186);
}


/* -----------------------------------------------------
  hack foundation style
----------------------------------------------------- */

h1, h2, h3 {
  color: #fff !important ;
  text-shadow: 1px 1px #dcdddc;
}

ul.navigation-menu {
  margin: 0 !important;
  overflow: hidden;
}

/* -----------------------------------------------------
	structure
----------------------------------------------------- */
.header-content {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(2, 20, 37, 0.95);
  height: 50px;
  width: 100%;
  z-index: 3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 768px) {
  .header-content {
    height: 80px;
    background: transparent;
    box-shadow: none;
  }
}
@media only screen and (min-width: 1170px) {
  .header-content {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .header-content.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -80px;
    background-color: rgba(2, 23, 37, 0.96);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .header-content.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .header-content.menu-is-open {
    /* add a background color to the header when the navigation is open */
    background-color: rgba(2, 23, 37, 0.96);
  }
}

div.title-on-header {
  font-size: 2.5rem;
  font-family: Lekton, sans-serif;
  width: 11rem;
  height: 2rem;
  padding: 1.5rem 1rem;
}
div.title-on-header a {
  color: #fff ;
  text-decoration: none;
}
div.title-on-header a:hover {
  color: #7FDBFF;
}
div.title-on-header a:active {
  color: #0074D9;
}

.switch-navigation {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40px;
  background-color: #03263d;
}

.switch-navigation .menu-marker {
  /* this span is the central line of the menu icon */
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 28px;
  height: 4px;
  background-color: white;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* these are the upper and lower lines in the menu icon */
}
.switch-navigation .menu-marker::before,
.switch-navigation .menu-marker:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  right: 0;
  -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
  -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
  transition: transform .3s, top .3s, background-color 0s;
}
.switch-navigation .menu-marker::before {
  top: -8px;
}
.switch-navigation .menu-marker::after {
  top: 8px;
}
.switch-navigation .menu-marker.is-clicked {
  background-color: rgba(255, 255, 255, 0);
}
.switch-navigation .menu-marker.is-clicked::before,
.switch-navigation .menu-marker.is-clicked::after {
  background-color: white;
}
.switch-navigation .menu-marker.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.switch-navigation .menu-marker.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 768px) {
  .switch-navigation {
    width: 40px;
    padding-left: 1em;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
    right: 2.2em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .switch-navigation .menu-marker {
    left: auto;
    right: 1em;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
}

.navigation-menu {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(2, 23, 37, 0.96);
  z-index: 2;
  text-align: center;
  padding: 50px 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.navigation-menu li {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: .2em 0;
  text-transform: capitalize;
}
.navigation-menu a {
  display: inline-block;
  padding: .8em 1em;
  border-radius: 0.25em;
  font-size: 1.5rem;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
.no-touch .navigation-menu a:hover {
  background-color: #98bcfa;
}
.no-touch .navigation-menu a:active {
  background-color: #786dcf;
}
.navigation-menu .cd-label {
  color: #06446e;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 2.4em 0 .8em;
}
.navigation-menu.is-visible {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 768px) {
  .navigation-menu {
    padding: 80px 0;
  }
}
@media only screen and (min-width: 1170px) {
  .navigation-menu li {
    font-size: 30px;
    font-size: 1.875rem;
  }
  .navigation-menu .cd-label {
    font-size: 16px;
    font-size: 1rem;
  }
}

.search-area.on-top {
  width: 100%;
  height: 65%;
  margin: 1rem;
}

.lang-selection {
  border: 0 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.5rem;
  text-overflow: "";
  color: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  background-color: rgba(23, 21, 39, 0.52) !important;
  text-shadow: 1px 1px #222;
  width: 11.5rem;
}
.lang-selection:hover {
  box-shadow: inset 0 0 5px rgba(5, 5, 5, 0.75);
  background-color: rgba(14, 46, 51, 0.75) !important;
}
.lang-selection option {
  padding: 0.5rem 0;
}

#mainContainer {
	background-image: url("/images/common/bg_1.jpg");
	background-repeat: no-repeat center;
	min-height: 100%;
	background-size: cover;
}
#pageTitle {
	position: fixed;
	left: 30%;
	top: 30%;
}
#pageTitle h1,
#pageTitle p {
	color: #fff;
	text-align: center;

}
#pageTitle h1 {
	font-size: 3.5rem;
}
#pageTitle p {
	font-size: 2rem;
	font-weight: lighter;
}

.static-content {
  position: fixed;
  background-color: #3a3a3a;
  opacity: 0.75;
  color: #fff;
}
.static-content.full {
  width: 100%;
  height: 100%;
  top: 13%;
  overflow-y: scroll;
}
.static-content.full div {
  left: 10%;
  width: 75%;
  margin: auto;
}
.static-content ul {
  font-size: 1.5rem;
}
.static-content ul li {
  margin: 1rem auto;
}

input.searchBox {
	line-height: 1.5em;
	opacity: 0.6;
	height: 55px;
	width: 70%;
	border-radius: 10px;
    -webkit-border-radius: 10px;
		-moz-border-radius: 10px;
}
input.searchBox.thin {
  height: auto !important;
  width: 25% !important;
}
.btn.thin {
  padding: 0.4rem 0.75rem !important;
}

.btn, .btn:link, .btn:visited {
  border-radius: 0.3em;
  border-style: solid;
  border-width: 1px;
  color: #111;
  display: inline-block;
  font-family: avenir, helvetica, arial, sans-serif;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  padding: 1em 0.75em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.4s, background-color 0.4s, border 0.4s;
  transition: color 0.4s, background-color 0.4s, border 0.4s;
}

.btn:hover {
  color: #7FDBFF;
  border: 1px solid #7FDBFF;
  -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn:active {
  color: #0074D9;
  border: 1px solid #0074D9;
  -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

#main-content {
  position: relative;
  background-repeat: no-repeat center;
  min-height: 100%;
  width: 100%;
  background-size: cover;
}
#main-content>section {
  position: absolute;
  bottom: 0;
  height: 85%;
  width: 100%;
}
#timebox {
  position: fixed;
  overflow: scroll !important;
  margin: 0 auto;
  width: 200%;
  height: 100%;
  background-color: #3a3a3a;
  opacity: 0.75;
  cursor: url('/images/common/ui/grab.cur'), none;
}
#timebox>div{
  width: 90%;
  margin: 0 auto;
}
#timebox::-webkit-scrollbar { 
    display: none; 
}

.vector {
  position: fixed;
  color: #fff;
  font-size: 6rem;
  font-weight: bold;
  opacity: 0.35;
  font-family: sans-serif;
  top: 300;
  display: block;
  padding: 1rem 0;
  cursor: pointer;
  z-index: 15;
}
.vector.prev {
  left: 10;
}
.vector.next {
  right: 10;
}
.vector:hover {
  color: #206bcf;
}

.inner-arrow {
  position: absolute;
  left: -10;
  border-top-style: dashed;
  border-top-width: 2px;
  border-top-color: #ddd;
  width: 150%;
  z-index: 55;
}
.y-index {
  color: #ddd;
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  bottom: -10;
}
.y-index.start {
  left: 10;
}
.y-index.mid {
  left: 550; 
}

.bar {
  position: absolute;
  cursor: pointer;
}
.bar:hover {
  opacity: 0.8;
  z-index: 200;
}

.bar.person {
  font-style: oblique;
  text-align: center;
  line-height: 2rem;
  height: 2.5rem;
  width: 25%;
  margin: 0.2rem;
  border-radius: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}
.bar.person:last-child {
  margin-bottom: 6rem !important;
}

.name-on-bar {    
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  cursor: pointer;
  white-space: nowrap;
}

.person-detail {
  background-color: #999;
  padding: 2rem 1rem 3rem 1rem;
  position: fixed;
  right: -100%;
  width: 60%;
  height: 90%;
  transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  z-index: 2000;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(-0.2, #ccc), color-stop(1, #666));
  background-image: -moz-linear-gradient(left, #ccc -10%, #666 100%);
  background-image: -webkit-linear-gradient(left, #ccc -10%, #666 100%);
  background-image: linear-gradient(to right, #ccc -10%, #666 100%);
  opacity: 0;
    -moz-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    -webkit-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
}
.person-detail.active {
  right: -5%;
  opacity: 1;
}
.person-detail .detail-main {
  background-color: #fff;
  padding: 1.5rem;
  margin-top: 1rem;
  transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transition: .8s;
  width: 90%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(-0.8, #fff), color-stop(1, #d6d6d6));
  background-image: -moz-linear-gradient(top left, #fff 80%, #d6d6d6 100%);
  background-image: -webkit-linear-gradient(top left, #fff 80%, #d6d6d6 100%);
  background-image: linear-gradient(to bottom right, #fff 80%, #d6d6d6 100%);
}
.person-detail .detail-main ul {
  height: 100%;
  overflow: hidden;
}
.person-detail .detail-main ul li {
  margin-top: 0.5rem;
  border-bottom: dashed 1px #777;
  text-indent: 0.8rem;
}
.person-detail .detail-main ul li:first-child {
  font-size: 1.25rem;
  font-weight: bold;
}
.person-detail .detail-main ul li:last-child {
  height: 75%;
}
.person-detail .detail-main ul li:last-child p {
  overflow-y: scroll !important;
  height: 100%;
  padding-right: 1rem;
}

/* -UI petterns- */
.close-button {
  position: relative;
  width: 25px;
  height: 25px;
  float: right;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #b1b1b1;
  border-radius: 0.5px;
  border: solid 0.5px #fff;
  transition: all .3s ease-out;
  cursor: pointer;
}
.close-button b {
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  border: solid 13px rgba(255,255,255,0);
}
.close-button b:nth-child(1) {
  border-top-color: #fff;
  top: -2px;
}
.close-button b:nth-child(2) {
  border-left-color: #fff;
  left: -2px;
}
.close-button b:nth-child(3) {
  border-bottom-color: #fff;
  bottom: -2px;
}
.close-button b:nth-child(4) {
  border-right-color: #fff;
  right: -2px;
}
.close-button:hover {
  background:#35d;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.back-to-top {
  float: right;
  font-size: 1.5rem;
  margin: 1rem;
}
/* -UI petterns- */
